<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Start_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".drinks_and_sizes" />
        <activity android:name=".Main_dashboard" />
        <activity android:name=".Slightly_Buzzed" />
        <activity android:name=".Buzzed" />
        <activity android:name=".At_A_Party" />
        <activity android:name=".College_at_party" />
        <activity android:name=".Buzzed_beer" />
        <activity android:name=".Buzzed_cocktail" />
        <activity android:name=".Buzzed_spirit" />
        <activity android:name=".Slightbuzz_beer" />
        <activity android:name=".Slightbuzz_cocktail" />
        <activity android:name=".Slightbuzz_spirit" />
        <activity android:name=".Party_beer" />
        <activity android:name=".Party_cocktail" />
        <activity android:name=".Party_spirit" />
        <activity android:name=".college_cocktail" />
        <activity android:name=".college_spirit" />
        <activity android:name=".Home" />
        <activity android:name=".college_beer" />
        <activity android:name=".BAC" />
        <activity android:name=".PANIC"></activity>
    </application>

</manifest>